
<link rel="stylesheet" href="/static/css/calendar.css">

<div class="modal fade" id="goals-remove" tabindex="-1" aria-labelledby="goalsRemove" aria-hidden="false">
    <form action="/goals" method="post">
        <div class="modal-dialog modal-dialog-scrollable">
            <div class="modal-content">
                <div class="modal-header">
                    <h5 class="modal-title">Remove goals</h5>
                    <button type="button" class="btn-close" data-bs-dismiss="modal" aria-label="Close"></button>
                </div>
                <div class="modal-body">
                    <div class="mb-3">
                        <p class="card-text">This action will remove all goals. Confirm?</p>
                    </div>
                </div>
                <div class="modal-footer">
                    <button class="btn btn-secondary" type="submit" id="goals-submit-remove" href="/goals">Yes</button>
                </div>
            </div>
        </div>
    </form>
</div>